@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

/* Universal styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Header styles */

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: hsl(30, 30%, 96%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header,
header button {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
}

header img,
footer img {
  height: 3.125rem;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  list-style: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

header nav ul li a {
  color: hsl(38, 27%, 6%);
  text-decoration: none;
}

header nav ul li a:hover {
  opacity: 0.9;
}

header nav ul li a:active {
  opacity: 0.5;
}

header button {
  background-color: hsl(31, 32%, 36%);
  color: hsl(30, 30%, 96%);
  border: none;
  border-radius: 20px;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  font-weight: 600;
}

header svg {
  display: none;
  margin-right: 1rem;
  margin-left: 2rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container p {
  color: hsl(38, 27%, 6%);
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Body styles */

main h1,
main h2 {
  font-family: Poppins, sans-serif;
}

main h1 {
  font-size: 5rem;
  color: hsl(30, 30%, 96%);
}

main h2 {
  font-size: 2rem;
  color: hsl(31, 32%, 36%);
  margin-bottom: 1.2rem;
}

main p {
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: hsl(38, 27%, 6%);
}

article {
  margin-bottom: 3rem;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-content: center;
  background: center / cover no-repeat url("./images/hero-bg.jpg");
  padding: 10rem 5rem;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.about-section article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-section article img {
  max-height: 25rem;
  border-radius: 15px;
}

.article-text {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

.article-1 {
  border-radius: 15px;
}

.article-2 .article-text {
  text-align: right;
}

.article-2 .article-text p {
  padding-right: 0;
}

/* Footer styles */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}


/* Media queries */

@media only screen and (max-width: 924px) {
  header {
    justify-content: center;
  }
}

@media only screen and (max-width: 698px) {
  header {
    justify-content: space-between;
  }

  header p {
    display: none;
  }

  header nav .nav-links {
    display: none;
  }

  header nav .sign-up-button li {
    padding-right: 0;
  }

  header svg {
    display: initial;
  }
}

@media only screen and (max-width: 1510px) {
  main p {
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
  }

  main h2 {
    font-size: 3rem;
    text-align: center;
  }

  .article-1 {
    background: center / cover no-repeat
      url("./images/article-1-green-2-bg.jpg");
    padding: 5rem 1rem;
    text-align: center;
  }

  .article-2 {
    background: center / cover no-repeat
      url("./images/article-2-green-2-bg.jpg");
    padding: 5rem 1rem;
    text-align: center;
    border-radius: 15px;
  }

  .article-2 p {
    padding-right: 0;
    padding-left: 0;
  }

  article img {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .about-section {
    padding: 0;
  }

  .article-1 {
    border-radius: 0;
  }
  .article-2 {
    border-radius: 0;
  }
}
